.companies__container {

    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;


}

.companies {

    background: url(../img/bgc.png);

}

.companies__title {

    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;


}
.companies__title-text{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color:white;
    margin-left: 40px;

}

.companies__title-img {
    width: 50px;
    height: 44px;
    margin-left: 40px;
}

.companies__list {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;

}

.companies__list-item {
    width: 24%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;

}

.companies__list-item:last-child {
    border-right: 0;



}

.companies__list-item:nth-child(4n) {
    border-right: 0;

}

.companies__list-item:nth-child(5n) {
    border-bottom: 0;

}

.companies__list-item:nth-child(6n) {
    border-bottom: 0;

}

.companies__list-item:nth-child(7n) {
    border-bottom: 0;

}

.companies__list-item:nth-child(8n) {
    border-bottom: 0;


}
@media screen and (max-width:700px) {

    .companies__list {
       display: none;
}